<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT</key>
	<dict>
		<key>Base</key>
		<string>https://rfui.github.io</string>
		<key>Path Prefix</key>
		<string>RFUI/json/</string>
		<key>Method</key>
		<string>GET</string>
		<key>Authorization</key>
		<false/>
		<key>Cache Policy</key>
		<integer>0</integer>
		<key>Offline Policy</key>
		<integer>0</integer>
		<key>Expire</key>
		<string>60</string>
	</dict>
	<key>NullTest</key>
	<dict>
		<key>Path</key>
		<string>null.json</string>
		<key>Response Type</key>
		<integer>2</integer>
		<key>Response Class</key>
		<string>RFDTestEntity</string>
		<key>Response Accept Null</key>
		<true/>
	</dict>
	<key>ObjSample</key>
	<dict>
		<key>Path</key>
		<string>object_sample.json</string>
		<key>Response Type</key>
		<integer>2</integer>
		<key>Response Class</key>
		<string>RFDTestEntity</string>
	</dict>
	<key>ObjArraySample</key>
	<dict>
		<key>Path</key>
		<string>array_sample.json</string>
		<key>Response Type</key>
		<integer>3</integer>
		<key>Response Class</key>
		<string>RFDTestEntity</string>
	</dict>
	<key>ObjEmpty</key>
	<dict>
		<key>Path</key>
		<string>empty_struct.json</string>
		<key>Response Type</key>
		<integer>2</integer>
		<key>Response Class</key>
		<string>RFDTestEntity</string>
	</dict>
	<key>NotFound</key>
	<dict>
		<key>Path</key>
		<string>404.json</string>
		<key>Response Type</key>
		<integer>0</integer>
	</dict>
	<key>@ HTTPBin</key>
	<dict>
		<key>Status</key>
		<dict>
			<key>Path</key>
			<string>https://httpbin.org/status/{code}</string>
		</dict>
		<key>Anything</key>
		<dict>
			<key>Path</key>
			<string>https://httpbin.org/anything/{path}</string>
			<key>Method</key>
			<string>POST</string>
		</dict>
		<key>Upload</key>
		<dict>
			<key>Path</key>
			<string>https://httpbin.org/anything</string>
			<key>Method</key>
			<string>POST</string>
		</dict>
		<key>404</key>
		<dict>
			<key>Path</key>
			<string>https://httpbin.org/status/404</string>
		</dict>
		<key>Timeout</key>
		<dict>
			<key>Path</key>
			<string>https://httpbin.org/delay/10</string>
		</dict>
	</dict>
	<key>@ Error</key>
	<dict>
		<key>NoPath</key>
		<dict/>
		<key>InvaildPath</key>
		<dict>
			<key>Path</key>
			<string>null.json?测=❌</string>
		</dict>
		<key>MismatchObject</key>
		<dict>
			<key>Path</key>
			<string>array_sample.json</string>
			<key>Response Type</key>
			<integer>2</integer>
			<key>Response Class</key>
			<string>RFDTestEntity</string>
		</dict>
		<key>MismatchArray</key>
		<dict>
			<key>Path</key>
			<string>object_sample.json</string>
			<key>Response Type</key>
			<integer>3</integer>
			<key>Response Class</key>
			<string>RFDTestEntity</string>
		</dict>
	</dict>
</dict>
</plist>
